<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-2 align-items-center">

    <div class="container-fluid text-center text-md-left">

        <div class="row text-center text-md-left mt-3 pb-3">

            <div class="col-md-3 col-lg-3 col-xl-3 divFooter mt-3">
                <a class="logo-footer" href="/">
                    <img src="{{ asset('build/wild-circus.png') }}" alt="logo"
                                                     class="logo-footer">
                </a>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mt-3">
                <h6 class="mb-4 titleFooter">La tournée</h6>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3  mt-3">
                <h6 class="titleFooter mb-4">L'équipe</h6>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mt-3 justify-content-center">
                <h6 class="titleFooter mb-4 ">Contact</h6>
                <!-- Social buttons -->
                <ul>
                    <li class="list-inline-item mt-2">
                        <a class="fb-ic icones" href="#" target="_blank">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="inst-ic icones" href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="inst-ic icones" href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="inst-ic icones" href="#" target="_blank">
                            <i class="fab fa-pinterest-p" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
                <!-- Social buttons -->
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->
