$gold-color : #B08C3E;
$blue-color : #01233f;
$white-color : #FFFFFF;
$red-color : #da201d;
$font-title : EmilysCandy-Regular;

@font-face {
  font-family: EmilysCandy-Regular;
  src: url("../font/EmilysCandy-Regular.ttf");
}
