@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "navbar";
@import "footer";
@import "tour";
@import "form";
@import "contact";
@import "tournee";
@import "reservation";

body {
  color :$blue-color;
  font-family: $font-body;
  font-size: $font-size;
}
.btn-danger {
  background-color: $red-color;
  border-radius: 3em;
  font-family: $font-title;
}
.alert {
  margin-bottom: 0;
}
.container-fluid {
  padding: 0;
}

.card-img-top {
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;

}


.d-block w-100 {
  object-fit: cover;
}
