@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "navbar";
@import "footer";
@import "tour";
@import "form";
@import "contact";

body {
  color :$blue-color;
}
.btn-danger {
  background-color: $red-color;
  border-radius: 3em;
  font-family: $font-title;
}
