.icones {
  font-size: 1.8rem;
  color: $gold-color;
}
a:not([href]) {
  color: $gold-color;
}
.page-footer {
  background-color: $blue-color;
}

.titleFooter {
  font-family: $font-title;
  color: $white-color;
  font-size: 1.5rem;

}
footer {
  border-top: 1px solid $gold-color;
  margin-left: 0;
  margin-right: 0;
}
