.titleLogin {
  color: $gold-color;
  font-family: $font-title;
  font-size: 2.8rem;
}

.form-login {
  border: none;
  border-bottom: 1px solid $gold-color;
}
.btnForm {
  font-size: 1.8rem;
}

main {
  background-color: $blue-color;
}
.form-login-message {
  border: none;
  border-bottom: 1px solid $gold-color;

}
.btnContact {
  font-size: 1.5rem;
}
