nav {
  border-bottom: 1px solid $gold-color;
}

.nav-link {
  font-family: $font-title;
  font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
  color: $white-color;
  text-decoration: none;
}

.bg-blue {
  background-color: $blue-color;
}


.effect-4 a:before {
  content: "[";
  left: -5px;
}

.effect-4 a:after {
  content: "]";
  right: -5px;
}

.effect-4 a:before,
.effect-4 a:after {
  position: absolute;
  opacity: 0;
  color: #fff;
  top: -1px;
  transition: all .5s;
}

.effect-4 a:hover:before,
.effect-4 a:hover:after {
  opacity: 0.7;
}

.effect-4 a:hover:before {
  left: -20px;
}

.effect-4 a:hover:after {
  right: -20px;
}
