.cardTour {
  //background-image: url("https://www.cirque-gruss.com/assets/img/layout/bg-bokeh_blue.jpg");
  background-color: $white-color;
  min-height: 300px;
  border: 1px solid
  rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.tour {
  min-width: 33%;
}

.Tour {
  background-color: $white-color;
}

.rowTour {
  background-color: $blue-color;
}

.titleTour {
  color: $gold-color;
  font-family: $font-title;
  font-size: 2.5rem;
}

.reserved {
  font-size: 1.5rem;
  font-family: $font-title;
}

.favic {
  color: $gold-color;
}
.nextTour {
  border-bottom: 1px solid $gold-color;
  min-width: 50%;
}

.card-titleMate{
  border-bottom: 1px solid $gold-color;
  max-width: 30% ;
}
