<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<p>
    {{ message }}
    Bonjour,
    Nous avons pris en compte votre demande, elle sera traitée dans les plus brefs délais.

</p>
</body>
</html>
