<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation de réservation</title>
</head>
<body>
<p>
    Bonjour,
    Votre réservation pour l'évènement à {{ tour.city }} est confirmé.

</p>
</body>
</html>
