{% extends 'layout.html.twig' %}

{% block title %}Nouvelle tournée{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card justify-content-center">
            <h1 class="text-center titleLogin m-5">Création de la tournée</h1>

            {{ include('tour/_form.html.twig') }}

        </div>
    </div>


{% endblock %}

